<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <!-- <link rel="icon" href="/images/travel-icon.png" type="image/x-icon"> -->

</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
  <h1>Welcome to the travel blog.</h1>
  <p>Share your travel experiences with the world!</p>
</body>

</html>