@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
}

/* -------- posts/show.ejs ---------- */
.show-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.show-header p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.show-header span {
  font-weight: 500;
  color: #50b498;
  font-size: 3rem;
  margin-right: 1rem;
}

.show-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button {
  font-size: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  border-radius: 16px;
  background: #468585;
  padding: 0.5rem 2rem;
  border: none;
}

.show-actions a {
  font-size: 1rem;
  text-decoration: none;
  color: #468585;
  border-radius: 16px;
  padding: 0.5rem 2rem;
  border: 2px solid #468585;
}

.show-photo {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 60%;
  border: 4px solid #9cdba6;
  padding: 1rem;
  border-radius: 0.5rem;
}

.show-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-details p {
  color: #468585;
  font-size: 1.5rem;
  font-weight: 500;
}

.show-details span {
  color: #0f1d1d;
  font-size: 1.25rem;
}
/* ------------------------------- */
