<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/partials.css">
  <title>Community</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

  <div class="community-body">

    <h1 class="community-header">Welcome to our community!</h1>

    <ul class="community-list">
      <% users.forEach(user => { %>
      <li><a href="/users/<%= user._id %>"><%= user.username %></a></li>
      <% }) %>
    </ul>
  </div>
</body>

</html>